@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-custom: 'CustomFont', sans-serif;
  --footer-height:5rem
}

body {
  font-family: var(--font-custom);
}

.font-custom {
  font-family: var(--font-custom);
}

/* .container{
    height:"calc(100vh-30px)"
  } */
@layer components {
  .container {
    @apply  min-h-[calc(100svh-var(--footer-height)-3rem)] relative;
  }
}
 

